/* @font-face {
    font-family: "Raleway", sans-serif;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../fonts/OpenSans-SemiBold.ttf);
} */

::after,
::before {

}

:root {
--color-light: #ffffff;
--color-main: #303030;
--color-accent: #FF6C00;
--font-main: "Open Sans", sans-serif;
--font-secondary: "Raleway", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-top: {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-main);
}

.section-title {
    font-family: var(--font-secondary);
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-main);
}

body {
    font-family: var(--font-main);
    /* background: #E5E5E5; */
    background: gray;    
    
}

    h1 {
        font-family: var(--font-secondary);
        color: var(--color-light);
        ;
    }

    /* .header {
        color: green;
    } */


/* .list {
    list-style: none;
} */


.link {
    font-family: inherit;
}

.link:hover,
.link:focus {
color: var(--color-accent);
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-accent);
    border-radius: 25px;  
    margin-left: 43px;
    margin-right: 43px;
} 

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-left: 15px;
}

.header {

}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.1em;
    color: var(--color-light);
    text-decoration: none;
}

.header-list {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.1em;
    color: var(--color-light);
    text-decoration: none;
}

.header-phone {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.1em;
    color: var(--color-light);
}



/* ________HERO___________ */

.hero {
    background: #555555;
    padding: 200px ;
}

.container-hero {
    position: absolute;
    left: 17.09%;
    right: 44.96%;
    top: 40%;
    bottom: 30.59%;
}

.hero-text_top {

}

.hero-title_top {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    color: var(--color-light);
    margin: 0 0 20px;
}

.hero-text_bottom {
    font-size: 18px;
    line-height: 1.67px;
    letter-spacing: 0.2em;
    color:
}
 
/* .hero-title_top > span {
color: red;
} */

.hero-title_bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.67em;
    color: #9DA4BD;
    
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: var(--color-main);
    background-color: var(--color-main, 0.5);
}

.hero-list {

}

.list {

}

.hero-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-main);
}


/* #section-2 */

/* ________About__________ */

.about {
    padding: 120px 0;
}
.about-gallery {
}
.about-gallery-item {
}
.about-text-top {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--color-main);
}
.about-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-main);
}
.about-description {
    font-size: 18px;
    line-height: 1.67px;
    letter-spacing: 0.02em;
    color: #555555;
}
.about-text-bottom {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
}
.header-about-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    color: var(--color-main);
}
.btn {
}

/* _____________service______________ */

.service {
    padding-top: 120px;
    padding-bottom: 120px;
    background: gray;
} 
.service-text-top {
}

.service-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-light);
    margin-bottom: 44px;
}

.service-list {
}

.service-list-item {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.service-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--color-light);
}

/* BENEFITS */

.benefits {
}

.benefits-list {
}
.benefits-list-item p {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--color-main);
}

.benefits-list-item span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    color: var(--color-main);
}

.benefits-text-top {
}

.benefits-title {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--color-main);
}
.benefits-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}

/* .benefits-list-item p {
    color: red;
}
 
.benefits-list-item span {
    color: aqua;
}

.benefits-list-item > span {
} */

/* BARBERS */

.barbers {
}
.barbers-text-top {
}

.barbers-title {
}

.barbers-list {

}
.barbers-card {

}
.barbers-card-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--color-main);
}
.barbers-card-positions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: var(--color-accent);   
}

/* gallery */

.gallery {
}

.gallery-title {
}
.gallery-text-top {
}
.gallery-list {
}
.gallery-list-item {
}

/* ONLINE-BOOKING */

.booking {
}
.booking-title {
    color: var(--color-light);
}

/* CONTACTS */

.contacts {
}
.contacts-title {
    color: var(--color-light);
}
.contacts-list {
}
.contacts-item {
}
.contacts-link.link-map {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #9DA4BD;
}

.contacts-link.link-phone {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #9DA4BD;    
}

.contacts-link.link-email {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    font-style: normal;
    color: #9DA4BD;    
}

.contacts-text-top {
    color: var(--color-light);
}
.contacts-schedule {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD; 
}

/* FOOTER */

.footer {
}
.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: var(--color-main);
}

/* [type="button"] {
    background: teal;
} */


/* .header-list {
    list-style: none;
} */

.super {
    border: 10px solid red;
    padding: 20px;    
    width: 500px;    
    margin-bottom: 10px;
    margin-top: 10px;
}

