/* @font-face {
    font-family: "Raleway", sans-serif;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(../fonts/OpenSans-SemiBold.ttf);
} */


:root {
--color-light: #ffffff;
--color-main: #303030;
--color-accent: #FF6C00;
--font-main: "Open Sans", sans-serif;
--font-secondary: "Raleway", sans-serif;
--main-margin: 20px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

img {
    display: block;
}

html {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-left: 15px;
    outline: 1px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-top {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-main);
    display: flex;
    align-items: center;
}

.text-top::before {
    content: "";
    background-color: currentColor;
    width: 60px;
    height: 1px;
    display: block;
    margin-right: 20px;
}

.section-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-main);
}

body {
    font-family: var(--font-main);
    /* background: #E5E5E5; */
    background: gray;    
    
}

h1 {
    font-family: var(--font-secondary);
    color: var(--color-light);
}

.list {
    list-style: none;
}


.link {
    font-family: inherit;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--color-accent);
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 25px;  
} 

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 130px;
}


.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.1em;
    color: var(--color-light);
    text-decoration: none;
    padding: 0 15px;
    display: block;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-link a {
    display: block;
}

.header-list li {
    margin: 0 15px;
}

.header-phone {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-light);
}

.header-btn {
    margin-left: 43px;
}

/* ________HERO___________ */

.hero {

}

.hero .container {
    display: flex;
}

.hero-list {
    width: 100px;
}

.hero-info {
    padding: 272px 100px 208px;
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), 
        url("../img/hero-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}   

.hero-text_top {
    /* font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase; */
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--main-margin)
}

.hero-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--color-light);
    margin: 0 0 20px;
}

.hero-text_bottom {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    max-width: 375px;
    color: #9DA4BD;
}

.hero-title_bottom {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.hero-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-main);
    background-color: rgba(#303030, 0.5);
}




.list {

}

.hero-link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--color-main);
}


/* #section-2 */

/* ________About__________ */

.about {
    padding: 120px 0;
}

.about .container {
    display: flex;
}

.about-gallery {
    margin-bottom: var(--main-margin);
    display: flex;
    margin-right: 30px;
}
.about-gallery-item + .about-gallery-item {
    margin-left: 30px;
}

.about-text-top {
    margin-bottom: var(--main-margin);
}
.about-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-main);
    margin-bottom: var(--main-margin);
}
.about-description {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: var(--main-margin);
}
.about-text-bottom {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
}
.about-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--color-main);
    margin-top: 42px;
}
.btn {
}

/* _____________service______________ */

.service {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url("../img/service-img.png"), linear-gradient(#111319, #111319);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.service-text-top {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--main-margin);
}

.service-title {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--color-light);
    margin-bottom: 44px;
}

.service-wrap {
    display: flex;
}

.service-list {
    padding: 30px 20px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    flex-grow: 1;
}

.service-list + .service-list {
    margin-left: 30px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.service-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}

.service-list-item p:last-child {
    order: 2;
}

.service-list-item::after {
    content: "";
    height: 1px;
    width: 220px;
    background-color: rgba(157, 164, 189, 0.12);
}

.service-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.service-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--color-light);
    margin: 44px auto 0;
    display: block;
}

/* BENEFITS */

.benefits {
    background: var(--color-light);
    padding: 120px 0 ;
}

.benefits-list {
}

.benefits-list-item {
    width: 170px;
    height: 133px;
    padding: 16px 24px 20px;
    background: #F7F7F7;
}

.benefits-list-item p {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: var(--color-main);
    margin-bottom: 30px;
}

.benefits-list-item span {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    color: var(--color-main);
    display: block;
    margin: 0 auto 6px;
}

.benefits-text-top {
    margin-bottom: var(--main-margin);
}

.benefits-title {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--color-main);
    margin-bottom: var(--main-margin);
    max-width: 430px;
}
.benefits-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
    max-width: 500px;
}

/* .benefits-list-item p {
    color: red;
}
 
.benefits-list-item span {
    color: aqua;
}

.benefits-list-item > span {
} */

/* BARBERS */

.barbers {
    background: #F7F7F7;
    padding: 120px 0;
}

.barbers-text-top {
    margin-bottom: var(--main-margin);
}

.barbers-title {
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
}
.barbers-card {

}

.barbers-card img {
    margin-bottom: 30px;
}

.barbers-card-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--color-main);
    margin-bottom: 8px;
}
.barbers-card-positions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: var(--color-accent);
    margin-bottom: 30px;   
}

.barbers-soc-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.barbers-soc-item {
    grid-gap: 10px;
}

.barbers-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    background-color: var(--color-light);
    justify-content: center;
    align-items: center;
    color: var(--color-main);
}

.barbers-soc-link:hover {
    color: var(--color-accent);
}

.barbers-soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* gallery */

.gallery {
}

.gallery-title {
}
.gallery-text-top {
    margin-bottom: 44px;
}
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    /* margin-left: -30px;
    margin-bottom: -30px; */
}
.gallery-list-item {
    /* margin-left: 30px;
    margin-bottom: 30px; */
    margin: 15px;
    flex-basis: calc((100% / 4) -30px);
}

/* ONLINE-BOOKING */

.contacts-bg {
    background-color: #191C26;
    background-image: url("../img/contacts-bg.png");
    background-repeat: no-repeat;
    background-size: calc(50% - 15px);
    background-position: 100%;
    margin-bottom: 300px;
}

.contacts-wrapper {
    display: flex;
    padding: 130px 0 120px;
}

.booking {
    width: calc(50% + 15px) ;
}
.booking-title {
    color: var(--color-light);
}

/* CONTACTS */

.contacts {
    width: calc(50% - 15px);
}
.contacts-title {
    color: var(--color-light);
}
.contacts-list {
}
.contacts-item {
}
.contacts-link.link-map {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #9DA4BD;
}

.contacts-link.link-phone {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #9DA4BD;    
}

.contacts-link.link-email {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    font-style: normal;
    color: #9DA4BD;    
}

.contacts-text-top {
    color: var(--color-light);
}
.contacts-schedule {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #9DA4BD; 
}

/* FOOTER */

.footer {
}
.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: var(--color-main);
}

/* [type="button"] {
    background: teal;
} */


/* .header-list {
    list-style: none;
} */

.wrapper {
    width: 800px;
    height: 500px;
    list-style: none;
    outline: 1px solid red;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.wrapper li {
    width: 100px;
    height: 100px;
}

/* .wrapper li.one {
    color: red;
    flex-grow: 1;
    background-color: green;

} */

.wrapper li:not(:last-child) {
    color: white;
    background-color: gray;
}
